/* CSS declarations go here */
html {
    background: #f5f5f5;
    color: #222; 
    font-family: 'Helvetica Neue',Helvetica,Arial,san-serif;
    font-weight: 300;
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
}
body{
	margin:0;
	padding: 0 0 50px;
	background: #eee;
}
a{
	font-weight: bold;
	text-decoration: none;
	color:black;
}
header,
section{
	padding:4px 10px;
}
header{
	color:#fff;
	background: black;
	border-bottom: 2px solid #ccc;
}
section{
	background: white;
}
h1{
	margin: 0;
}
.brand{
	font-size: 2em;
	font-weight: 900;
	letter-spacing: -1px;
}
#login-buttons{
	float:right;
	padding:14px 0 0 0;
}